@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-night-900 text-gold-400 font-sans antialiased overflow-hidden select-none;
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #141414; 
}
::-webkit-scrollbar-thumb {
  background: #ca8a04; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #eab308; 
}
